run = "poetry run python stock_machine_learning_lstm.py"
modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = ["python3", "stock_machine_learning_lstm.py"]
deploymentTarget = "cloudrun"